#nprogress {
  /* Make clicks pass-through */
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed top-0 left-0 z-10 w-full bg-blue-400;

  height: 0.125rem;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply absolute right-0 block w-24 h-full opacity-100;

  box-shadow: 0 0 10px rgb(96, 165, 250), 0 0 5px rgb(96, 165, 250);
  transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  @apply relative overflow-hidden;
}

.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}
